.memberCardCont {
	width: 300px;
	height: 330px;
}

.memberCard {
	width: 300px;
	height: 300px;
	background: white;
	cursor: pointer;
	position: relative;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.memberInfo {
	width: 100%;
	height: 70px;
	background: #fff;
	border-radius: 10px;
	margin-top: 10px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: flex;
	align-items: center;
}

.mainInfo {
	width: 100%;
	display: flex;
	height: 100%;
	flex-wrap: wrap;
	padding-left: 10px;
}

.memberName {
	width: 100%;
	font-size: 25px;
	display: flex;
	align-items: center;
}

.memberRole {
	width: 100%;
	font-size: 15px;
	display: flex;
}

.memberDesc {
	visibility: hidden;
	position: absolute;
	top: 0;
	padding: 10px;
}

.memberSocials {
	width: 150px;
	display: inline-grid;
	justify-content: right;
	grid-template-columns: repeat(2, 30px);
	gap: 2.5px;
	margin-right: 2.5px;
}

.memberCard:hover {
	padding: 10px;
}

.memberCard:hover .memberDesc {
	visibility: visible;
}

.memberCard:hover .memberFront {
	visibility: hidden;
}
