.memberCard {
  width: 250px;
  height: 280px;
  background: white;
  cursor: pointer;
  position: relative;
  border-radius: 10px;
  border: 2px solid gray;
  overflow: hidden;
}

.memberName {
  width: 100%;
  height: 50px;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.memberDesc {
  visibility: hidden;
  position: absolute;
  top: 0;
}

.memberCard:hover {
  padding: 10px;
}
.memberCard:hover .memberDesc {
  visibility: visible;
}
.memberCard:hover .memberFront {
  visibility: hidden;
}
