.navbarCaucusLogo {
  position: absolute;
  left: 10px;
  top: 10px;
}

@media only screen and (min-width: 768px) {
  .navbar {
    margin-bottom: -55px;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    margin-bottom: 65px;
  }
}

/*Navbar socials*/

.navbarSocials {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

/*Navbar links*/

@media only screen and (max-width: 768px) {
  .hamburger {
    position: absolute;
    right: 10px;
    top: 10px;

    transition-duration: 0.3s;
    transition-property: transform;
  }

  .hamburger.openedHamburger {
    transform: rotate(90deg);
  }

  .navbarLinks {
    position: absolute;
    text-align: right;
    right: 4px;
    top: 75px;

    opacity: 0;
    pointer-events: none;

    transition-duration: 0.3s;
    transition-property: opacity;
  }

  .navbarLinks.openedHamburger {
    opacity: 1;
    pointer-events: auto;
  }
}

@media only screen and (min-width: 768px) {
  .hamburger {
    visibility: hidden;
  }

  .navbarLinks {
    position: absolute;
    display: flex;
    right: 10px;
    top: 42px;
    transform: translateY(-50%);
  }
}

.navbarLinkClickable {
  margin: 0px 10px;

  font-family: 'Prompt';
  font-size: 25px;
  color: #949494;
  text-decoration: underline;

  cursor: pointer;
}

.navbarLinkClickable:hover {
  transition: 0.3s all ease;
  color: #555555;
}

.navbarLinkUnclickable {
  margin: 0px 10px;

  font-family: 'Prompt';
  font-size: 25px;
  color: #cccccc;
  text-decoration: underline;
}
