.navbarCaucusLogo {
  position: absolute;
  height: 70px;
  left: 10px;
  top: 10px;
}

/*Navbar socials*/

.navbarSocials {
  position: absolute;
  left: 50%;
  top: 10px;
  display: flex;
  transform: translateX(-50%);
}

.navbarSocials>* {
  margin: 0px 5px;
  height: 70px;
}

/*Navbar links*/

.navbarLinks {
  position: absolute;
  display: flex;
  right: 10px;
  top: 20px;
}

.navbarLinks>* {
  margin: 0px 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-family: 'Prompt';
  font-size: 25px;
  color: #949494;
  text-decoration: underline;
}

.navbarLinks>*:hover {
  transition: 0.3s all ease;
  color: #555555;
}
