.navbarCaucusLogo {
  position: absolute;
  left: 10px;
  top: 10px;
}

/*Navbar socials*/

.navbarSocials {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
}

/*Navbar links*/

.navbarLinks {
  position: absolute;
  display: flex;
  right: 10px;
  top: 20px;
}

.navbarLinkClickable {
  margin: 0px 10px;

  font-family: 'Prompt';
  font-size: 25px;
  color: #949494;
  text-decoration: underline;

  cursor: pointer;
}

.navbarLinkClickable:hover {
  transition: 0.3s all ease;
  color: #555555;
}

.navbarLinkUnclickable {
  margin: 0px 10px;

  font-family: 'Prompt';
  font-size: 25px;
  color: #cccccc;
  text-decoration: underline;
}
