.collectionContainer {
	margin-bottom: 50px;
}

.collectionTitle {
	width: 100%;
	height: 50px;
	font-size: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.titleUnderline {
	margin-left: 10%;
	width: 80%;
	height: 2px;
	background: rgb(66, 66, 66);
	margin-bottom: 50px;
}

.gridContainerContainer {
	width: 80%;
	transform: translate(-50%);
	margin-left: 50%;
}

.gridContainer {
	display: flex;

	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	grid-gap: 25px;
}
