html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: white;
  }
}

@font-face {
  font-family: 'Prompt';
  src: url('/fonts/Prompt/Prompt-Regular.ttf');
}

.title {
  font-size: calc(3rem + 5vw);
  font-weight: normal;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 6rem;
  }
}
